.navbar {
    background-color: #343a40; 
    padding: 10px 20px;
}

.navbar-brand {
    color: #f8f9fa !important; 
    font-size: 1.5rem; 
    font-weight: bold;
}

.navbar-nav .nav-link {
    flex-grow: 5;
    text-align: center;
}

.nav-link {
    color: #f8f9fa !important;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 10px 15px;    
    margin-left: 90px; 
}

.nav-link:hover {
    color: #ffc107 !important;
    text-decoration: none;
}

.btn {
    background-color: #dc3545;
    color: #fff !important;
    font-size: 15px;
    padding: 8px 15px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #c82333 !important;
    border-color: #bd2130; 
}  